# Creating a String

In [1]:
str ="Hello"
str

'Hello'

In [2]:
'this is a phrase'

'this is a phrase'

In [3]:
"dfdsfdsf"

'dfdsfdsf'

In [4]:
"hello, my name is annish" #use double if single is used in string

'hello, my name is annish'

# Printing String

In [8]:
print('hello word')
'hellow word1'

hello word

'hellow word1'

In [9]:
print 'hello'  #for python2 no brackets, brackets are used in python3

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('hello')? (<ipython-input-9-5a1ef41e7057>, line 1)

In [11]:
from __future__ import print_function
print 'hello world'                   #print is a function
#to print  use the import (py2)

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('hello world')? (<ipython-input-11-c5087dfc4a82>, line 2)

# String Basics

In [13]:
len('Hello world') #counts even the spaces

11

In [14]:
len('Helloworld')

10

# String Indexing

In [16]:
#in python index starts from zero
a = "helloworld"

In [18]:
print(a)

helloworld

In [19]:
a[0]

'h'

In [20]:
a[5]

'w'

In [23]:
 a[1:] #":" is used slicing
    #slice(stop)
#slice(start, stop, step)

'elloworld'

In [ ]:
a

In [32]:
a[:-1]

'helloworl'

In [31]:
a[::2] #step size

'hlool'

In [34]:
a[1:3]

'el'

In [35]:
a

'helloworld'

In [36]:
a + 'concatinate me'

'helloworldconcatinate me'

In [37]:
a + '  concatinate me'

'helloworld  concatinate me'

In [39]:
a = a + '  concatinate me'
a

'helloworld  concatinate me  concatinate me'

In [42]:
letter = "a"

In [43]:
letter*10

'aaaaaaaaaa'

In [47]:
#pattern
for i in range(1,6):
    print(i*"*")
for i in reversed(range(1,7)):
    print(i*"*")

*
**
***
****
*****
******
*****
****
***
**
*

In [48]:
a

'helloworld  concatinate me  concatinate me'

# Methods

In [49]:
a.upper()

'HELLOWORLD  CONCATINATE ME  CONCATINATE ME'

In [50]:
a.lower()

'helloworld  concatinate me  concatinate me'

In [51]:
a.split()

['helloworld', 'concatinate', 'me', 'concatinate', 'me']

In [54]:
b=list("sdfsdfsdfsd")
b

['s', 'd', 'f', 's', 'd', 'f', 's', 'd', 'f', 's', 'd']

In [56]:
a.split()

['helloworld', 'concatinate', 'me', 'concatinate', 'me']

In [57]:
a.split('o')

['hell', 'w', 'rld  c', 'ncatinate me  c', 'ncatinate me']

# Print  String Formating

In [63]:
 'Insert the string using format:{}'.format({'formated'})

"Insert the string using format:{'formated'}"

In [65]:
print(a)
a.count('o') #counting "o" letter in the string

helloworld  concatinate me  concatinate me

4

In [67]:
a.find('o')

4

In [70]:
a.center(50,'z')

'zzzzhelloworld  concatinate me  concatinate mezzzz'

In [80]:
'hello \t hi'.expandtabs()

'hello    hi'

In [81]:
a = "Annish"

# check method

In [83]:
 a.isalnum()# check if it is alphanumeric

True

In [85]:
a.isalpha()

True

In [86]:
a.islower()

False

In [88]:
a.isspace()

False

In [90]:
a.istitle()   #title starting letter is caps

True

In [91]:
a.isupper()

False

In [92]:
a.islower()

False

In [93]:
a.endswith('h')

True



# Built-in Regualar expression

In [95]:
a.split('n')   #splits the string and the list without the splitted value

['A', '', 'ish']

In [98]:
a.partition('n')  #partition is used to return a tuple  that includes the seperator first half and second half

('A', 'n', 'nish')

# List

In [103]:
my_list = list("123456")
type(my_list)

list

In [104]:
len(my_list)

6

In [105]:
my_list=['String',56,12,23.5,'l']

In [106]:
my_list

['String', 56, 12, 23.5, 'l']

In [107]:
len(my_list)

5

# Indexing and slicing

list -- [] , tuple -- ()  , set -- {}

In [108]:
my_list=['one','two','three','56.3','4,5']

In [111]:
my_list.sort()  #sort method
my_list

['4,5', '56.3', 'one', 'three', 'two']

In [112]:
my_list[0]

'4,5'

In [114]:
my_list[1:]  #slice(start, stop, step)

['56.3', 'one', 'three', 'two']

In [115]:
my_list[:3]

['4,5', '56.3', 'one']

In [117]:
my_list= my_list + ['adding'] #adding item in the list

In [118]:
my_list

['4,5', '56.3', 'one', 'three', 'two', 'adding']

In [120]:
my_list

['4,5', '56.3', 'adding', 'one', 'three', 'two']

In [121]:
my_list = my_list*2  #double the items

In [123]:
my_list

['4,5',
 '56.3',
 'adding',
 'one',
 'three',
 'two',
 '4,5',
 '56.3',
 'adding',
 'one',
 'three',
 'two']

In [124]:
my_list

['4,5',
 '56.3',
 'adding',
 'one',
 'three',
 'two',
 '4,5',
 '56.3',
 'adding',
 'one',
 'three',
 'two']

# Basic List Methods

In [125]:
 l = [1,2,3,4,5,6]

In [126]:
l.append('jk') #to add item

In [127]:
l

[1, 2, 3, 4, 5, 6, 'jk']

In [128]:
l.pop(0) #pops the first element

1

In [129]:
l.pop() #the last item is poped

'jk'

In [130]:
l[200]

IndexError: list index out of range

In [132]:
new_list = list("asdfghjk")
new_list

['a', 's', 'd', 'f', 'g', 'h', 'j', 'k']

In [137]:
new_list.reverse()
new_list

['k', 'j', 'h', 'g', 'f', 'd', 's', 'a']

In [139]:
new_list.sort()
new_list

['a', 'd', 'f', 'g', 'h', 'j', 'k', 's']

# Nesting List

In [143]:
list1=list("123")
list2=list("456")
list3=list("789")
list1
list2
list3

['7', '8', '9']

In [146]:
matrix = [list1,list2,list3]
matrix

[['1', '2', '3'], ['4', '5', '6'], ['7', '8', '9']]

In [147]:
matrix[0]

['1', '2', '3']

In [150]:
matrix[1][2]       #grab the first item of the seconf item

'6'

# List Comprehension

In [153]:
# LC  deconstructing a for loop within a[]
first_col = [row[2] for row in matrix] 
first_col

['3', '6', '9']

# Advanced list

In [167]:
l =[1,2,3]

In [172]:
l.append('5')

In [174]:
l.pop()

'5'

In [161]:
l.count('2')

1

In [175]:
l.append([4,5]) #sublist #append joins another list to the existing list

In [176]:
l

[1, 2, 3, [4, 5]]

In [178]:
x =[1,2,3,]
x.extend([4,5])    #extend  - involves the item in the list it is not like append
x

[1, 2, 3, 4, 5]

# index

In [182]:
print(x)
x.index(2)

[1, 2, 3, 4, 5]

1

In [186]:
x.insert(4,"hello")  #Syntax innsert(index ,object)

In [187]:
x.pop() #pops the last item

5

In [188]:
x

[1, 2, 3, 4, 'hello', 'hello']

In [190]:
x.remove('hello') #removes the item

In [191]:
x

[1, 2, 3, 4, 'hello']

In [192]:
l.reverse()

In [195]:
x.reverse()

In [196]:
x

['hello', 4, 3, 2, 1]

In [197]:
p = [12,39,16,45,89,46,45,99]

In [198]:
p.sort()

In [201]:
p

[12, 16, 39, 45, 45, 46, 89, 99]