In [6]:
class Person:
    pass
a = Person()
a.name = "Annish"
a.surname = "JK"
a.yr = 1999
print(a)
print("%s %s was born in %d." %(a.name,a.surname,a.yr))

<__main__.Person object at 0x7ff000193670>
Annish JK was born in 1999.

In [13]:
class Person:
    def __init__(self,name,surname,yr):
        self.name = name
        selfsurname= surname
        self.yr= yr

In [16]:
a = Person("Annish","JK",1999)
print(a)
print("%s %s was born on %d."% ( a.name,a.surname,a.yr))

<__main__.Person object at 0x7fefebf359d0>

AttributeError: 'Person' object has no attribute 'surname'

In [8]:
__name__ #built in variable it returns the name of the module

'__main__'

In [11]:
def mul(a,b):
    return a*b
print(mul(2,3))
print(__name__)

6
__main__

In [12]:
__name__   #used for special variables in python

'__main__'

In [11]:
class Person:
    def __init__(self,name,surname,yr_of_birth):
        self.name=name
        self.surname=surname
        self.yr_of_birth= yr_of_birth
        
    def age(self,present_yr):
       
        return present_yr - self.yr_of_birth
    
    def __str__(self):
        return"%s %s was born in %d." %(self.name ,self.surname,self.yr_of_birth)

an= Person("Annish" , "JK",1999)
print(an)
print(an.age(2020))

Annish JK was born in 1999.
21

In [8]:
class Student(Person):
    def __init__(self,student_id, *args , **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
charlie = Student(1, 'charlie' , 'brown', 2006) 
print(charlie)
print(type(charlie))
print(isinstance(charlie, Person))
print(isinstance(charlie, object))

charlie brown was born in 2006.
<class '__main__.Student'>
True
True

In [20]:
class Student(Person):
    def __init__(self,student_id, *args , **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
    def __str__(self):
        return super(Student, self).__str__() + "and has an ID :: %d" % self._student_id

    
charlie = Student(1,'charlie','brown',2006) 
print(charlie)

charlie brown was born in 2006.and has an ID :: 1

In [21]:
def summer(a, b):
    return a + b

print(summer(1, 1))
print(summer(["a", "b", "c"], ["d", "e"]))
print(summer("abra", "cadabra"))

2
['a', 'b', 'c', 'd', 'e']
abracadabra

In [22]:
%%writefile superman.txt
Hello, this is a quick superman test file

Writing superman.txt

In [23]:
# Open the text.txt we made earlier
my_file = open('superman.txt')

In [24]:
my_file.read()

'Hello, this is a quick superman test file\n'

In [25]:
# But what happens if we try to read it again?
my_file.read()

''

This happens because you can imagine the reading "cursor" is at the end of the file after having read it. So there is nothing left to read. We can reset the "cursor" like this:

In [36]:
my_file.seek(0)     #cursor

0

In [34]:
my_file.read()

'Hello, this is a quick superman test file\n'

In [37]:
my_file.readlines()

['Hello, this is a quick superman test file\n']

In [38]:
my_file = open('superman.txt','w+')

In [40]:
my_file.write("hello this is a new line")

24

NameError: name 'superman' is not defined

In [45]:
my_file.seek(0)

0

In [46]:
my_file.read()

'hello this is a new line'

## iteration through file

In [48]:
%%writefile test.txt
First Line
Second Line02

Writing test.txt

In [50]:
for line in open('test.txt'):
    print(line)

First Line

Second Line02

# String IO

In [51]:
from io import StringIO
message = "this is just a normal string,"
f= StringIO(message)

In [52]:
f.read()

'this is just a normal string,'

In [53]:
f.write("Second line written to file like object")

39

In [54]:
f.seek(0)

0

In [55]:
f.read()

'this is just a normal string,Second line written to file like object'