# Modules ad Packages

In [3]:
import math

In [9]:
math.ceil(5.1)  #round Off

6

In [11]:
math.floor(2.4)   #lower than the number

2

# Exploring built in module

In [12]:
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [16]:
math.remainder(6,5)

1.0

In [17]:
help(math.ceil)  #knowing the function

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

# Writing Modules

In [ ]:
 from hello import hi

In [ ]:
import hello.hi

# Error and Exception Handeling

Built in exceptions

# try and except

In [21]:
try:
    f = open('testfile.txt','w')
    f.write('Test write this')
except IOError :
    print("Error: Could not find file or read or find")
else :
    print("Written successfully")
    f.close()

Written successfully

In [23]:
try:
    f = open('testfle.txt','r')
    f.write('Test write this')
except IOError :
    print("Error: Could not find file or read or find")
else :
    print("Written successfully")
    f.close()

Error: Could not find file or read or find

In [41]:
#finally will be executed no matter what even exception is present
try :
    f=open("file.txt","w")
    f.write("hwllsfsdfsdf")
finally:
    print("Always execute finally code blocks")

Always execute finally code blocks

In [50]:
def jkl():
    try:
        val= int(input("Please enter a integer::"))
    except :
        print("only integer ")
    
    finally:
        print("Finally I executed")
        print(val)

In [51]:
jkl()

Please enter a integer::gh
only integer
Finally I executed

UnboundLocalError: local variable 'val' referenced before assignment

In [53]:
jkl()

Please enter a integer::56
Finally I executed
56

In [54]:
def fgh():
    try :
        val = int(input("Enter a integer ::"))
    except :
        print("You did not  enter a integer")
        val = int(input("Try again to enter a integer::"))
    finally:
        print("Finally executed!!")

In [55]:
fgh()

Enter a integer ::df
You did not  enter a integer
Try again to enter a integer::78
Finally executed!!

In [56]:
def tyy():
    while True:
        try :
             val=int(input("Enter a integer value:;"))
        except :
            print("Wrong not a integer")
            continue
        else:
            print("thats a integer!!")
            break
        finally:
            print("finally I got it")
        print(val)

In [57]:
tyy()

Enter a integer value:;gh
Wrong not a integer
finally I got it
Enter a integer value:;56
thats a integer!!
finally I got it

# Database connectivity and operation using python

In [63]:
#!/usr/bin/python
import sqlite3
    #connecting with the database
db= sqlite3.connect("my_newdatabase1.db")
#Drop table if it already exist using execute() method
db.execute("drop table if exists grades1")
#create table as per requirement
db.execute("create table grades1(id int, name text,score int)")
#inserting values inside the created table
db.execute("insert into grades1(id,name,score) values(01,'Annish',99)")
db.execute("insert into grades1(id,name,score)values(02,'Apurva',100)") 
db.execute("insert into grades1(id,name,score)values(03,'Bindu',96)")
db.execute("insert into grades1(id,name,score)values(78,'Cathy',93)")

In [64]:
db.commit()

In [68]:
db.execute("select * from grades1")

In [74]:
results = db.execute("select * from grades1 order by id")
for row in results:
    print(row)
print("-" * 60)

(1, 'Annish', 99)
(2, 'Apurva', 100)
(3, 'Bindu', 96)
(78, 'Cathy', 93)
------------------------------------------------------------

In [75]:
results = db.execute("select * from grades1 where name = 'Annish' ")
for row in results:
    print(row)
print("-" * 60 )

(1, 'Annish', 99)
------------------------------------------------------------

In [76]:
results = db.execute("select * from grades1 where score >= 90 ")
for row in results:
    print(row)
print("-" * 60 )

(1, 'Annish', 99)
(2, 'Apurva', 100)
(3, 'Bindu', 96)
(78, 'Cathy', 93)
------------------------------------------------------------

In [77]:
results = db.execute("select * from grades1 where score >= 95 ")
for row in results:
    print(row)
print("-" * 60 )

(1, 'Annish', 99)
(2, 'Apurva', 100)
(3, 'Bindu', 96)
------------------------------------------------------------

In [78]:
results = db.execute("select name, score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 60 )

('Apurva', 100)
('Annish', 99)
('Bindu', 96)
('Cathy', 93)
------------------------------------------------------------

In [79]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)
print("-" * 60 )

('Cathy', 93)
('Bindu', 96)
('Annish', 99)
('Apurva', 100)
------------------------------------------------------------

In [80]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)

('Cathy', 93)
('Bindu', 96)
('Annish', 99)
('Apurva', 100)

In [81]:
results = db.execute("select score from grades1 order by score")
for row in results:
    print(row)

(93,)
(96,)
(99,)
(100,)